* {
    font-family: 'Roboto', sans-serif;
}

@import "_variables.scss";
@import "_mixins.scss";
@import "_keyframes";

:root {
    --h1-font-weight: 400;
    --h3-font-weight: 500;
    --p-font-weight: 300;

    --h1-font-size: 22px;
    --h2-font-size: 16px;
    --h3-font-size: 18px;
    --p-font-size: 15px;
}

body{
    @media (min-width:992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 10px;
    @media (min-width:992px){
        height: 96px;
    }

    .logo {
        position: relative;

        img {
            object-fit: cover;
            max-width: 200px;
            @media (min-width:992px){
                margin-top: 30px;
            }
        }
    }

    .arrow {
        position: absolute;
        left: 5%;
        top: 1.5%;
        @media (min-width:992px){
            margin-top: 30px;
        }
    }
}

.image__resto {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 363px;
    }
}


.menu {
    background-color: $bg-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    max-width: 1055px;
    margin-top: -45px;
    z-index: 1;
    position: relative;
   @include flexbox (column, center,center);
}

.menu__section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85%;
    margin-top: 45px;
    opacity: 0;
    transform: translateX(-100%);
    animation: loadresto 500ms ease-in-out both;

    &.entree__section {
        animation-delay: 300ms;
    }

    &.plat__section {
        animation-delay: 600ms;
    }
    
    &.dessert__section{
        animation-delay:900ms;
    }
}

.nom__resto {
    display: flex;
    flex-direction: row;

    i {
        display: flex;
        align-items: center;
        padding-left: 10px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: color 300ms ease;

        &::after{
            content:"\f004";
            font-weight: 700;
            position: absolute;
            top:35px;
            left:10px;
            color: transparent;
            background: linear-gradient($main-pink, $main-purple);
            background-clip: text;
            z-index:-1;
            opacity: 0;
            transition: opacity 300ms ease;
        }
    &:hover {
        color: transparent;

        &::after {
            opacity:1
        }
    }    
    }

    .nom__resto--title {
        padding-right: 10px;
    }
}

.menu__title {
    font-weight: 300;
    margin: 10px 0;
    position: relative;

    &::after { /*pour ligne sous titre*/
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background-color: #99e2d0;
    }
}

.nom__resto--title {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
}

.menu__card {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 5px 10px;
    height: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    @include container-shadow;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: padding-right 500ms ease-in-out;

    &:hover .menu__checkbox {
        transform: translateX(0);
        opacity: 1;
    }

    &:hover{
        padding-right:17%;
    }

    .card__text {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3,
        p {
            margin: 0;
        }

    }

    .card__price {
        padding-left: 10px;
        display: flex;
        align-items: flex-end;
    }
}

.menu__checkbox {
    position: absolute;
    top:0;
    right: 0;
    width:15%;
    height: 100%;
    background-color: $main-green;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease;
    
    i{
        color: white;
    }
}

.carton__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 20px 20px;
    gap: 15px;
    margin: 40px 0;
    border: none;
    width: 100%;
    max-width: 186px;
    color: white;
    font-size: 16px;
    background: linear-gradient($main-pink, $main-purple);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        border-radius: 50px;
        background: linear-gradient(135deg, $lightenpink, $lightenpurple);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 0;
        transition: opacity 500ms ease;
    }

    &:hover::before {
        opacity: 1;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.35);
    }


    .btn__text {
        text-decoration: none;
        color: $bg-color;
        display: block;
        z-index:2;
    }
}

footer {
    background-color: black;
    width:100%;
    
    a {
        text-decoration: none;
        color: white;
    }

    @media (min-width:992px) {
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }


    .logo__footer {
        padding: 15px;
        @media (min-width:992px) {
            padding: 5px;
        }
    }

    ul {
        list-style-type: none;
        color: $bg-color;
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 0 15px 15px;
        margin: 0;

        @media (min-width:992px) {
            flex-direction: row;
        }

        i {
            padding-right: 10px;
            ;
        }
    }
}