* {
    font-family: 'Roboto', sans-serif;
}
@import "_mixins.scss";
@import "_variables.scss";


header {
    display: flex;
    flex-direction: column;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .localisation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #EAEAEA;
        box-shadow: 0px 9px 15px #c6c6c6;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            color: #353535;
        }
    }
}

a {
    text-decoration: none;
    color: #353535;
}

.carton {
    background: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
        border-radius: 50px;
        padding: 20px 20px;
        gap: 15px;
        margin: 15px 0;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            border-radius: 50px;
            background: linear-gradient(135deg, $lightenpink, $lightenpurple);
            z-index: 1;
            opacity: 0;
            transition: opacity 500ms ease;
        }
    
        &:hover::before {
            opacity: 1;
        }


        a {
            text-decoration: none;
            color: $bg-color;
            display: block;
            z-index:2;
        }
    }
}



.btn__container {
    width: 100%;
    padding: 0 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fonctionnement {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $bg-color;
        width: 75%;
        border-radius: 20px;
        padding: 4px 20px;
        gap: 15px;
        margin: 15px 0;
        position: relative;
        border:none;
        @include container-shadow;

        i {
            position: relative;
            padding: 0 10%;

        }

    }

    .number {
        background-color: $main-purple;
        color: $bg-color;
        border-radius: 50%;
        padding: 5px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -12px;
    }
}

.fa-store {
    color: $main-purple
}

.restaurants {
    background-color: $bg-color ;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin:10px;

    &__card { 
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.card {
    background-color: white;
    border-radius: 20px;
    position: relative;

    &__new {
        background-color: #99e2d0;
        color: #008766;
        border-radius: 2px;
        width: 80px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right:12px;
        top: 13px;
    }

    img {
        width: 100%;
        height: 231px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px 15px 10px;
    }

    &__like {
        display: flex;
        justify-content: center;
        align-items: center;
        

        i {
            color: grey;
            position:relative;
            z-index: 1;
            transition: color 300ms ease;

            &::after {
                content: "\f004";
                font-weight: 700;
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background: linear-gradient(#FF79DA, #9356DC);
                -webkit-background-clip: text;
                background-clip:text;
                z-index:-1;
                opacity: 0;
                transition: opacity 300ms ease;
            }
        &:hover{
            color: transparent;

            &::after {
                opacity: 1;
            }
        }    
        }
    }
}

.card__text {
    h3.card__title {
        margin: 0;
    }

    p.card__subtitle {
        margin: 0;
    }
}

footer {
    background-color: black;
    margin-top: 20px;

    .logo__footer {
        padding-left: 15px;
    }

    ul {
        list-style-type: none;
        color: $bg-color;
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 15px;
        margin: 0;
    }
}